<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/myStyle.css">
    <title>please work</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/insert/guest/guestValidate.js"></script>
    <script type="text/javascript" src="/static/insert/guest/guestDelete.js"></script>
</head>
<body>
<div>
    <form method="get" action="/insert">
        <button type="submit">Back</button>
    </form>
</div>
<div>{{status}}</div>
    <div>
        <form action="/insert/guest" method="post">
            <select name="reservationId" id="reservationSelect" required>
                <option disabled selected value="">Выберите бронь по ID</option>
                {{#reservations}}
                    <option value={{reservationId}}>{{reservationId}}</option>
                {{/reservations}}
            </select>
            <select name="roomId" id="roomSelect" required>
                <option selected disabled value="">Сначала выберите бронь</option>
            </select>
            <select name="companyId">
                <option selected disabled value="">Выберите компанию по ID, если нужно</option>
                {{#companies}}
                    <option value={{companyId}}>{{companyId}} {{companyName}}</option>
                {{/companies}}
            </select>
            <select name="clientId" required>
                <option disabled selected value="">Выберите клиента по ID и фамилии</option>
                {{#clients}}
                    <option value={{clientId}}>{{clientId}} {{clientSurname}}</option>
                {{/clients}}
            </select>
            <button type="submit">OK</button>
        </form>

    </div>
<div id="table">
    <table>
        <caption>Гости</caption>
        <tr>
            <th>ID гостя</th>
            <th>ID брони</th>
            <th>Название компании</th>
            <th>Имя клиента</th>
            <th>Фамилия клиента</th>
            <th>ID комнаты</th>
            <th>Тип отзыва</th>
            <th>Отзыв</th>
            <th>Изменить отзыв</th>
            <th>Удалить</th>
        </tr>
        {{#guests}}
            <tr>
                <form method="get" action="/insert/guestReview">
                    <input type="hidden" name="guestId" value={{guestId}}>
                <td>{{guestId}}</td>
                <td>{{reservationId}}</td>
                <td>{{companyName}}</td>
                <td>{{clientName}}</td>
                <td>{{clientSurname}}</td>
                <td>{{roomId}}</td>
                <td>{{reviewType}}</td>
                <td>{{guestReview}}</td>
                <td>
                    <button type="submit">Изменить</button>
                </td>
                </form>
                <td>
                    <button type="submit" id="deleteGuest" value={{guestId}} >Delete</button>
                </td>
            </tr>
        {{/guests}}
    </table>
</div>
</body>
</html>