
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 15px;
    border-collapse: collapse; /* убирать двойные линии в таблице*/
    text-align: center;
}
th, td:first-child {
    background: #99CC99;
    color: white;
    border-width: 1px 1px 1px 0;
    padding: 10px 20px;

}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #003300;
    padding: 10px 20px
}
td {
    background: #CCFFCC;
}
th:first-child, td:first-child {
    text-align: left;
}

caption {
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #003300;
    background: #66CC66;
    padding: 10px 20px;
}

button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #669966;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover { background: #336633; }
button:active { background: #003300; }
