
    <table>
        <caption>Компании</caption>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Удалить</th>
        </tr>
        {{#companies}}
            <tr>
                <td>{{companyId}}</td>
                <td>{{companyName}}</td>
                <td>
                    <button type="submit" id="deleteCompany" value={{companyId}} >Delete</button>
                </td>
            </tr>
        {{/companies}}
    </table>
