<table>
    <caption>Бонусы</caption>
    <tr>
        <th>ID бонусы</th>
        <th>ID контракта</th>
        <th>Название компании</th>
        <th>Бонус</th>
        <th>Удалить</th>
    </tr>
    {{#bonuses}}
        <tr>
            <td>{{bonusId}}</td>
            <td>{{contractId}}</td>
            <td>{{companyName}}</td>
            <td>{{bonus}}</td>
            <td>
                <button type="submit" id="deleteBonus" value={{bonusId}} >Delete</button>
            </td>
        </tr>
    {{/bonuses}}
</table>