<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/myStyle.css">
    <title>Третий запрос</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />

</head>
<body>
<form method="get" action="/select">
    <button type="submit">Back</button>
</form>

Число свободных сейчас комнат - {{count}}
<div id="table">
    <table>
        <caption>Комнаты</caption>
        <tr>
            <th>ID комнаты</th>
            <th>ID здания</th>
            <th>Прибыль в день</th>
            <th>Этаж</th>
            <th>Вместимость</th>
        </tr>
        {{#rooms}}
            <tr>
                <td>{{roomId}}</td>
                <td>{{buildingId}}</td>
                <td>{{roomProfit}}</td>
                <td>{{roomFloor}}</td>
                <td>{{roomCapacity}}</td>
            </tr>
        {{/rooms}}
    </table>
</div>

</body>
</html>