<table>
    <caption>Комнаты</caption>
    <tr>
        <th>ID комнаты</th>
        <th>ID здания</th>
        <th>Прибыль в день</th>
        <th>Этаж</th>
        <th>Вместимость</th>
        <th>Удалить</th>
    </tr>
    {{#rooms}}
        <tr>
            <td>{{roomId}}</td>
            <td>{{buildingId}}</td>
            <td>{{roomProfit}}</td>
            <td>{{roomFloor}}</td>
            <td>{{roomCapacity}}</td>
            <td>
                <button type="submit" id="deleteRoom" value={{roomId}} >Delete</button>
            </td>
        </tr>
    {{/rooms}}
</table>