<!DOCTYPE html>
<html>
<head>
    <title>bonusInsertPage</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <div>
        <form method="post" action="/insert/bonus">
            <select name="contractId" placeholder="Contract">
                {{#contracts}}
                    <option value={{contractId}}>{{contractId}} {{companyName}}</option>
                {{/contracts}}
            </select>
            <input type="txt" name="bonusTXT">
            <button type="submit">ok</button>
        </form>
    </div>
    <div>
        This is our bonuses
    </div>
    {{#bonuses}}
        {{bonusId}}
        {{contractId}}
        {{companyName}}
        {{bonus}}
        <br>
    {{/bonuses}}
</body>
</html>