<!DOCTYPE html>
<html>
<head>
    <title>buildingInsertPage</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <div>
        <form method="post" action="/insert/building">
            <input type="number" name = "lvl" min="1" max="5" placeholder="число звезд">
            <input name="height" type="number" min="1" max="5">
            <button type="submit">ok</button>
        </form>
    </div>
    <div>
        This is our buildings
    </div>
    {{#buildings}}
        {{buildingId}}
        {{level}}
        {{buildingHeight}}
        <br>
    {{/buildings}}
</body>
</html>