<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/myStyle.css">
    <title>Выберите запрос</title>
    <meta http-equiv="Content-Type" content="text/html; charseet=UTF-8" />

</head>
<body>

    <form method="get" action="/">
        <button type="submit">Back</button>
    </form>

<br>
<form method="get" action="/select/first">
    <button type="submit">Первый запрос</button>
</form>
<br>
    <form method="get" action="/select/second">
        <button type="submit">Второй запрос</button>
    </form>
    <br>
    <form method="get" action="/select/third">
        <button type="submit">Третий запрос</button>
    </form>

    <br>
    <form method="get" action="/select/fourth">
        <button type="submit">Четвертый запрос</button>
    </form>
    <br>
    <form method="get" action="/select/fifth">
        <button type="submit">Пятый запрос</button>
    </form>
    <br>
    <form method="get" action="/select/sixth">
        <button type="submit">Шестой запрос</button>
    </form>
    <br>
    <form method="get" action="/select/seventh">
        <button type="submit">Седьмой запрос</button>
    </form>

    <br>
    <form method="get" action="/select/eighth">
        <button type="submit">Восьмой запрос</button>
    </form>
    <br>
    <form method="get" action="/select/ninth">
        <button type="submit">Девятый запрос</button>
    </form>

    <br>
    <form method="get" action="/select/tenth">
        <button type="submit">Десятый запрос</button>
    </form>





</body>
</html>