<!DOCTYPE html>
<html>
<head>
    <title>serviceInsertPage</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <div>
        <form method="post" action="/insert/service">
            <select name="buildingId">
                {{#buildings}}
                    <option value={{buildingId}}>{{buildingId}} {{level}}</option>>
                {{/buildings}}
            </select>
            <input type="number" name="servicePrice" max="100000">
            <input type="text" name="serviceName">
            <button type="submit">ok</button>
        </form>
    </div>
    <div>
        Services
    </div>
    {{#services}}
        {{serviceId}}
        {{buildingId}}
        {{buildingLevel}}
        {{servicePrice}}
        {{serviceName}}
        <br>
    {{/services}}
</body>
</html>