<table>
    <caption>Контракты</caption>
    <tr>
        <th>ID контракта</th>
        <th>ID компании</th>
        <th>Название компании</th>
        <th>Удалить</th>
    </tr>
    {{#contracts}}
        <tr>
            <td>{{contractId}}</td>
            <td>{{companyId}}</td>
            <td>{{companyName}}</td>
            <td>
                <button type="submit" id="deleteContract" value={{contractId}} >Delete</button>
            </td>
        </tr>
    {{/contracts}}
</table>